.centerhanzi {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 500%;
    font-family: "微軟正黑體";
}

.screen {
    position: relative;
}

.innerdiv {
    position: absolute;
    top: -10;
    right: 0;
    font-family: Arial, Helvetica, Sans-Serif;
}